{%  extends 'sklt_sns1/main.html' %}
{% block content %}
<div class="az-content az-content-dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">   
                <br>      
                <div class="d-flex justify-content-center">
                <h3>週間アクセスランキング</h3>
                </div>
                <div class="row">
                {% for post in popular_posts %}
                <div class="col-lg-4">
                    <div class="card bg-white border-info">
                        <div class="card-header bg-info">
                            <div class="d-flex align-self-center">
                                <img class="mr-3" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
                                <div class="lh-100">
                                    <h6 class="mb-0 text-white lh-100">{{post.author}}</h6>               
                                    <p class="text-white">{{post.created_date}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body"> 
                            <p class="card-text">{{post.text|truncatechars:100}}<span class="badge badge-pill badge-info">アクセス数：</span></p> 
                            <div class="row">                
                                <a class="btn btn-primary" href="#">View</a>
                            </div> 
                        </div>
                        
                    </div>
                </div>
                {% endfor %}    
                </div>

            
            </div>
                <!-- <div class=col-12 col-md-4>     
                <div class="card bg-white border-info">
                    <div class="card-header bg-info">
                        <div class="d-flex align-self-center">
                            <img class="mr-3" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
                            <div class="lh-100">
                                <h6 class="mb-0 text-white lh-100">{{post.author}}</h6>               
                                <p class="text-white">{{post.created_date}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body"> 
                        <p class="card-text">{{post.text|truncatechars:100}}<span class="badge badge-pill badge-danger">New</span></p> 
                        <div class="row">                
                            <a class="btn btn-primary" href="{% url 'detail-with-count' post.pk %}">View</a>
                        </div> 
                </div>
                </div>  -->
        </div>
    </div>
</div>

{%endblock%}
