{%  extends 'sklt_sns1/main.html' %}

{% block content %}

<main role="main" class="container">
 <div class="d-flex align-items-center p-3 my-3 bg-white rounded shadow-sm">
 <div class="media">
  <div class="media-body">
    <div class="post">
       <!-管理者でログインしているユーザーのみにリンクを表示->
       {% if user.is_authenticated %}
       <!-編集ボタンと削除ボタンを表示->
       <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
       <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
       {% endif %}
       <div class="lh-100">
        <strong>user.name</strong>
        <form action="{% url 'post_detail1' post.pk %}" method="post">
          {% csrf_token %}
          <input type="submit" name="good" value="いいね"　id="test">{{ post.good }}
        </form>
       </div>
       <div class="date">
        <small>{{ post.created_date }}</small>
       </div>
      <p>{{ post.text|linebreaksbr }}</p>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"></p>
    
      <div class="col-sm-10">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">コメントしましょう！</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <form method="POST" class="post-form">{% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="save btn btn-default">send</button>
            </form>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      <div class="media mt-3">
        <a class="mr-5"></a>
         <div class="media-body">
          {% for comment in post.comments.all %}
             <div class="comment">
                 {{ comment.author }}
                 <div class="date">
                  <small>{{ comment.created_date }}</small>
                 </div>
                 {{ comment.text|linebreaks }}
                 <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"></p>
             </div>
          {% empty %}
            <p>No comments here yet :(</p>
          {% endfor %}
         </div>
      </div>
    </main>
  </div>
 </div>
 </div>
</main>

{% endblock %}